<div class="uk-card uk-card-default uk-card-small">
  <div class="uk-card-header">
    <div class="uk-grid uk-grid-small">
      <div class="uk-width-auto"><h4>Import</h4></div>
    </div>
  </div>
  <div class="uk-card-body">
    <p><strong>App will not work if you have language different from "English (USA)" in personal JIRA
      settings &mdash; this leads to translated column headers in CSV</strong></p>

    <p>How to use:</p>

    <ol>
      <li>
        In JIRA:
        <ol>
          <li>Go to the board or project you wish to export</li>
          <li>On the left side, click on Issues and filters</li>
          <li>Click "Advanced search"</li>
          <li>Apply filters if you want/need</li>
          <li>
            <strong>Make sure that you have no more than 1000 issues selected - JIRA exports only 1000 into file.
              Use filters to receive few smaller files</strong>
          </li>
          <li>
            On the top right of your screen, click on the "Export" drop down (second icon from the right).
          </li>
          <li>Choose "Export Excel CSV (All fields)"</li>
          <li>Save file to your PC</li>
        </ol>
      </li>
      <li>
        In this app:
        <ol>
          <li>Click button below</li>
          <li>Choose file that you received in previous steps</li>
          <li>Wait while application parses it</li>
          <li>Now you can go to reports</li>
        </ol>
      </li>
    </ol>

    <p>File with issues must have following columns:</p>

    <ul>
      <li>{{name-for-key 'issue_id'}}</li>
      <li>{{name-for-key 'original_estimate'}}</li>
      <li>{{name-for-key 'time_spent'}}</li>
    </ul>

    <p>It is highly recommended to have following columns in your file:</p>

    <ul>
      <li>{{name-for-key 'assignee'}}</li>
      <li>{{name-for-key 'labels'}}</li>
      <li>{{name-for-key 'sprint'}}</li>
      <li>{{name-for-key 'status'}}</li>
    </ul>

    <p>Other recommendations:</p>

    <ul>
      <li>App will sort sprints correctly if they contain some text prefix and number. For example:
        "Sprint 31", "Sprint-31", "Project Name 31"
      </li>
    </ul>

    <p>
      <strong>Please note that file upload does not fully replace stored issues but updates them. If two files
        have the same issue (app checks {{name-for-key 'issue_id'}}), values from file which was uploaded
      second will be saved</strong>
    </p>

    <div class="uk-text-center">
      {{#if upload.last.isError}}
        <div class="uk-alert-danger" uk-alert onclick={{pipe-action
          (action (mut upload.last.isError) false)
          (action (mut upload.last.error) undefined)
        }}>
          <p>{{stringify-error upload.last.error}}</p>
        </div>
      {{/if}}

      {{#file-upload name=queueName
                     multiple=false
                     disabled=(or isQueueFull upload.isRunning)
                     onfileadd=(perform upload) as |queue|}}
        <a class="uk-button uk-button-primary uk-button-large">
          {{#if isQueueFull}}
            {{#if upload.isRunning}}
              <div uk-spinner></div>
            {{else}}
              Selected
            {{/if}}
          {{else}}
            Select File
          {{/if}}
        </a>
      {{/file-upload}}
    </div>
  </div>
</div>