{{side-nav}}
<!-- CONTENT -->
<div id="content" data-uk-height-viewport="expand: true">
  <div class="uk-container uk-container-expand">

    <h3 class="page-break-before">By Latest Sprint</h3>

    <div class="uk-grid uk-grid-medium " uk-height-viewport="expand: true" data-uk-grid>

      {{reports/median-work-ratio-by-latest-sprint class="uk-width-1-2@xl"}}

      {{reports/mean-work-ratio-by-latest-sprint class="uk-width-1-2@xl"}}

      {{reports/min-work-ratio-by-latest-sprint class="uk-width-1-2@xl"}}

      {{reports/max-work-ratio-by-latest-sprint class="uk-width-1-2@xl"}}

    </div>

    {{x-footer}}
  </div>
</div>
<!-- /CONTENT -->